<div id="Slider_container">
    <section id="slider">
        <input type="radio" name="slider" id="s1" [checked]="this.condition===0">
        <input type="radio" name="slider" id="s2" [checked]="this.condition===1">
        <input type="radio" name="slider" id="s3" [checked]="this.condition===2">
        <input type="radio" name="slider" id="s4" [checked]="this.condition===3">
        <input type="radio" name="slider" id="s5" [checked]="this.condition===4">
        <input type="radio" name="slider" id="s6" [checked]="this.condition===5">
        <input type="radio" name="slider" id="s7" [checked]="this.condition===6">
        <label for="s1" class="Label_1" id="slide1">
            <img alt="Icon Not Found" src="{{url}}{{slider[0].image}}" class="image_size_1">
            <button id="slide11">
                <a href="{{slider[0].link}}">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s2" class="Label_2" id="slide2">
            <img alt="Icon Not Found" src="{{url}}{{slider[1].image}}" class="image_size_1">
            <button id="slide21">
                <a href="{{slider[1].link}}">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s3" class="Label_3" id="slide3">
            <img alt="Icon Not Found" src="{{url}}{{slider[2].image}}"
                class="image_size_3">
            <button id="slide31">
            <a href="{{slider[2].link}}">
                Go to Website
            </a>
            </button>
        </label>
        <label for="s4" class="Label_4" id="slide4">
            <img alt="Icon Not Found" src="{{url}}{{slider[3].image}}" class="image_size_4">
            <button id="slide41">
                <a href="{{slider[3].link}}">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s5" class="Label_5" id="slide5">
            <img alt="Icon Not Found" src="{{url}}{{slider[4].image}}" class="image_size_5">
            <button id="slide51">
                <a href="{{slider[4].link}}">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s6" class="Label_6" id="slide6">
            <img alt="Icon Not Found" src="{{url}}{{slider[5].image}}" class="image_size_6">
            <button id="slide61">
                <a href="{{slider[5].link}}">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s7" class="Label_7" id="slide7">
            <img alt="Icon Not Found" src="{{url}}{{slider[6].image}}" class="image_size_7">
            <button id="slide71">
                <a href="{{slider[6].link}}">
                    Go to Website
                </a>
            </button>
        </label>
    </section>
</div>

<!-- 
<div id="Slider_container">
    <section id="slider">
        <input type="radio" name="slider" id="s1">
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3" checked>
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
        <input type="radio" name="slider" id="s6">
        <input type="radio" name="slider" id="s7">
        <label for="s1" class="Label_1" id="slide1">
            <img alt="Icon Not Found" src="Image\640px-Udaipur_Lake_Palace.jpg" class="image_size_1">
            <button id="slide11">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s2" class="Label_2" id="slide2">
            <img alt="Icon Not Found" src="Image\640px-Khajuraho_-_Kandariya_Mahadeo_Temple.jpg" class="image_size_1">
            <button id="slide21">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s3" class="Label_3" id="slide3">
            <img alt="Icon Not Found" src="Image\640px-Statue_of_Unity_-_View_from_the_other_bank_of_Narmada.jpg"
                class="image_size_3">
            <button id="slide31">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s4" class="Label_4" id="slide4">
            <img alt="Icon Not Found" src="Image\640px-Taj_Mahal_Palace_Hotel.jpg" class="image_size_4">
            <button id="slide41">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s5" class="Label_5" id="slide5">
            <img alt="Icon Not Found" src="Image\640px-Fernhills_Palace,_Ooty.jpg" class="image_size_5">
            <button id="slide51">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s6" class="Label_6" id="slide6">
            <img alt="Icon Not Found" src="Image\640px-Chaturbhuj_Temple,_Orchha.jpg" class="image_size_6">
            <button id="slide61">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
        <label for="s7" class="Label_7" id="slide7">
            <img alt="Icon Not Found" src="Image\640px-Hyatt-delhi-pic2.jpg" class="image_size_7">
            <button id="slide71">
                <a href="#">
                    Go to Website
                </a>
            </button>
        </label>
    </section>
</div> -->