<div class="container mt-5 overflow-hide">

    <div class="Container_body">
        <div class="Container_1">
            <div class="Container_1_1">

            </div>
            <div class="Container_1_2">

            </div>
            <div class="Container_1_3">
                <div class="Container_1_3_1">
                    <div class="Container_1_3_1_1">

                    </div>
                    <div class="Container_1_3_1_2">
                        <a href="#">
                            <img alt="Icon Not Found" src="../../../assets/Search-Icon.svg" class="icon_size_1">
                        </a>
                    </div>
                    <div class="Container_1_3_1_3">

                    </div>
                </div>
                <div class="Container_1_3_2">

                </div>
                <div class="Container_1_3_3">
                    <div class="Container_1_3_3_1">

                    </div>
                    <div class="Container_1_3_3_2">
                        <div class="Container_1_3_3_2_1">
                            <a *ngIf="this.post.length > 0">
                                Search Result : {{value}}
                            </a>
                            <a *ngIf="this.post.length <= 0">
                                Search Result : No result Found!!
                            </a>
                        </div>
                        <div class="Container_1_3_3_2_2">
                            <!-- Sub Heading -->
                        </div>
                    </div>
                    <div class="Container_1_3_3_3">
                        <div class="Container_1_3_3_3_1">

                        </div>
                        <div class="Container_1_3_3_3_2">

                        </div>
                        <div class="Container_1_3_3_3_4">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <app-search-card2 class='col-md-6' *ngFor="let card of this.post" [element]="card"></app-search-card2>
        </div>


    </div>



</div>