<div class="row">
    <div class="col d-flex justify-content-center">
        <div class="wrapper">
            <div class="title">Login</div>
            <form #authenticationForm="ngForm" (ngSubmit)="onSubmit(authenticationForm)">
                <div class="field">
                    <input type="text" ngModel class="form-control" id="email" name="email" required>
                    <label>Email Address</label>
                </div>
                <div class="field">
                    <input type="password" ngModel class="form-control" id="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="field">
                    <input type="submit" value="Login">
                </div>
                <p class="err">{{errormsg}}</p>
            </form>
        </div>
    </div>

</div>