.container1 {
  margin: 10px;
  color: #fff;
}
.row1 Img {
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  border: 6px solid #282a35;
}
.row1.collapse1 Img {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
}
.row1 {
  margin-left: 65px;
  margin-bottom: -40px;
  align-items: center;
  /* border: 7px solid #282a35;  */
}
.row1.collapse1 {
  margin-left: 0px;
  margin-bottom: 5px;
}
.row2 {
  background-color: #3f51b5;
  border-radius: 10px;
  width: 220px;
  height: fit-content;
  padding: 45px 10px 10px 10px;
  text-align: center;
}
.inner_row2{
  background-color: white;
  color:#3f51b5;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius:10px;
  margin-top:5px;
  font-weight: bold;
  cursor: pointer;
}
.inner_row2.logged{
  display:none;
}
.inner2_row2{
  background-color: white;
  color:#3f51b5;
  width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius:10px;
  margin-top:5px;
  font-weight: bold;
  cursor: pointer;
}
/* .inner2_row2.logged{
  display:none;
} */

.row2.collapse1 {
  display: none;
}
