<div class="container mt-5 overflow-hide">
    <!-- <h1 style="font-weight: bold;display:flex;justify-content:center;background-color:#3f51b5;color: white;padding:10px;border-radius:10px;font-size:24px;margin-bottom:20px;">{{this.category|uppercase}}</h1> -->

        <div class="Container_body">
            <div class="Container_1">
                <div class="Container_1_1">
        
                </div>
                <div class="Container_1_2">
        
                </div>
                <div class="Container_1_3">
                    <div class="Container_1_3_1">
                        <div class="Container_1_3_1_1">
        
                        </div>
                        <div class="Container_1_3_1_2">
                            <a href="#">
                                <img alt="Icon Not Found" src="{{url}}{{extension}}" class="icon_size_1">
                            </a>
                        </div>
                        <div class="Container_1_3_1_3">
        
                        </div>
                    </div>
                    <div class="Container_1_3_2">
        
                    </div>
                    <div class="Container_1_3_3">
                        <div class="Container_1_3_3_1">
        
                        </div>
                        <div class="Container_1_3_3_2">
                            <div class="Container_1_3_3_2_1">
                                <a href="#">
                                    {{this.category|uppercase}}
                                </a>
                            </div>
                            <div class="Container_1_3_3_2_2">
                                <!-- Sub Heading -->
                            </div>
                        </div>
                        <div class="Container_1_3_3_3">
                            <div class="Container_1_3_3_3_1">
        
                            </div>
                            <div class="Container_1_3_3_3_2">
        
                            </div>
                            <!-- <div class="Container_1_3_3_3_3">
                                <div class="Container_1_3_3_3_3_1">
                                    <div class="Container_1_3_3_3_3_1_1">
                                        <img alt="Icon Not Found" src="Icons\Settings.svg" class="icon_size_2">
                                    </div>
                                    <div class="Container_1_3_3_3_3_1_2">
                                        Setting
                                    </div>
                                </div>
                            </div> -->
                            <div class="Container_1_3_3_3_4">
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="Container_2">
                <div class="Container_2_1"> -->

                        <div class="row mb-2 mt-2" >
                            <app-category-card2 class='col-md-6' *ngFor="let card of this.post" [element]="card"></app-category-card2>
                        </div>


                <!-- </div>
            </div> -->
        </div>

    

</div>