
* {
  box-sizing: border-box;
}
.Container_body {
  background-color: none;
  width: auto;
  height: auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: 88px auto;
}
.Container_1 {
  background-color: white;
  width: auto;
  height: auto;
  padding: 4px;
  display: grid;
  grid-template-rows: 20px 60px;
  overflow: hodden;
  position: relative;
}
.Container_1_1 {
  background-color: none;
  overflow: hidden;
}
.Container_1_2 {
  background-color: #3f51b5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 4px grey;
}
.Container_1_3 {
  width: auto;
  height: auto;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: none;
  position: absolute;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 20px auto;
  padding: 4px;
  overflow: hidden;
}
.Container_1_3_1 {
  width: auto;
  height: auto;
  background-color: none;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: 20px 60px;
  grid-template-rows: 60px 20px;
}
.Container_1_3_1_1 {
  background-color: none;
  overflow: hidden;
}
.Container_1_3_1_2 {
  background-color: #3f51b5;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 4px grey;
  border: 2px solid white;
  padding-top: 2px;
}
.icon_size_1 {
  width: 100%;
  height: 100%;
}
.Container_1_3_1_3 {
  background-color: none;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
}
.Container_1_3_2 {
  background-color: none;
  overflow: hidden;
}
.Container_1_3_3 {
  background-color: none;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20px auto auto;
}
.Container_1_3_3_1 {
  background-color: none;
  overflow: hidden;
}
.Container_1_3_3_2 {
  background-color: none;
  overflow: hidden;
}
.Container_1_3_3_2_1 {
  background-color: none;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 2px 0px 0px 0px;
  color: white;
  overflow: hidden;
}
.Container_1_3_3_2_1 > a {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.Container_1_3_3_2_2 {
  background-color: none;
  width: 100%;
  height: auto;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
  color: white;
  overflow: hidden;
}
.Container_1_3_3_3 {
  background-color: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-rows: auto 30px auto;
  display: none;
}
.Container_1_3_3_3_1 {
  background-color: none;
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
}
.Container_1_3_3_3_2 {
  background-color: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  overflow: hidden;
}
.Container_1_3_3_3_3 {
  background-color: none;
  overflow: hidden;
  position: relative;
}
.Container_1_3_3_3_3_1 {
  background-color: #3f51b5;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: auto;
  right: 0px;
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: 100%;
  border-radius: 25px;
  overflow: hidden;
  padding: 4px;
  cursor: pointer;
}
.Container_1_3_3_3_3_1_1 {
  background-color: none;
  overflow: hidden;
}
.icon_size_2 {
  width: 100%;
  height: 100%;
}
.Container_1_3_3_3_3_1_2 {
  background-color: none;
  overflow: hidden;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  padding: 2px 0px 0px 0px;
  color: white;
  padding: 1px 10px 4px 4px;
}
.Container_1_3_3_3_4 {
  background-color: none;
  overflow: hidden;
}

.Container_2 {
  background-color: none;
  overflow: hidden;
}
.Container_2_1 {
  background-color: none;
  width: 1345px;
  height: auto;
  background-color: none;
  overflow: hidden;
  display: grid;
  grid-template-columns: 448px 448px 448px;
  margin: auto;
}
.Container_2_1_1 {
  background-color: NONE;
  overflow: hidden;
  padding: 4px;
  display: grid;
  grid-template-rows: auto;
  position: relative;
}
.Container_2_1_1_1 {
  width: auto;
  height: 29px;
  overflow: hidden;
  background-color: NONE;
  position: absolute;
  margin: auto;
  top: 4px;
  right: 4px;
  left: 4px;
  bottom: auto;
}
.Container_2_1_1_2 {
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px grey;
  position: absolute;
  margin: auto;
  top: 33px;
  right: 4px;
  left: 4px;
  bottom: 4px;
}
.Container_2_1_1_3 {
  background-color: none;
  overflow: hidden;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: 25px auto auto;
  grid-template-columns: auto 160px;
  padding: 4px;
  grid-gap: 5px;
}
.Container_2_1_1_3_1 {
  background-color: none;
  overflow: hidden;
  position: relative;
}
.Container_2_1_1_3_1_1 {
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 2px;
  padding-left: 4px;
  color: #3f51b5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.Container_2_1_1_3_2 {
  background-color: none;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px auto;
}
.Container_2_1_1_3_2_1 {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px grey;
}
.Container_2_1_1_3_2_2 {
  overflow: hidden;
  background-color: none;
}
.Container_2_1_1_3_2_1 {
  overflow: hidden;
  background-color: none;
  padding: 2px;
}
.image_size_1 {
  width: 100%;
  height: 100%;
}
.Container_2_1_1_3_3 {
  background-color: none;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto;
  padding-right: 4px;
}
.Container_2_1_1_3_3_1 {
  background-color: none;
  overflow: hidden;
}
.Container_2_1_1_3_3_1_1 {
  background-color: none;
  padding-top: 4px;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-left: 4px;
  color: #3f51b5;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}
.Container_2_1_1_3_3_1_1 > a {
  color: #3f51b5;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.Container_2_1_1_3_3_1_2 {
  background-color: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-right: 4px;
  padding-left: 4px;
  color: #3f51b5;
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
}
.Container_2_1_1_3_3_1_2 > a {
  color: #3f51b5;
  font-family: arial;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}
.Container_2_1_1_3_3_2 {
  background-color: none;
  overflow: hidden;
  position: relative;
}
.Container_2_1_1_3_3_2_1 {
  background-color: none;
  width: auto;
  height: auto;
  padding-left: 4px;
  color: #3f51b5;
  font-family: Arial;
  font-weight: normal;
  font-size: 12px;
}
.Container_2_1_1_3_4 {
  background-color: none;
  overflow: hidden;
  position: relative;
  display: grid;
}

.Container_2_1_1_3_4_1 {
  width: auto;
  background-color: #3f51b5;
  overflow: hidden;
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 7px;
  border-radius: 50px;
}
.Container_2_1_1_3_4_1 > a {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
.Container_2_1_1_3_5 {
  background-color: none;
  overflow: hidden;
  position: relative;
  padding-right: 10px;
  display: grid;
}
.Container_2_1_1_3_5_1 {
  background-color: none;
  position: relative;
  width: auto;
}
.icon_size_2 {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1362px) {
  .Container_2_1 {
    background-color: none;
    width: 896px;
    height: auto;
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: 448px 448px;
    margin: auto;
  }
}

@media only screen and (max-width: 916px) {
  .Container_2_1 {
    background-color: none;
    width: 448px;
    height: auto;
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: 448px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }
  .Container_body {
    background-color: none;
    width: auto;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 77px auto;
  }
  .Container_1 {
    background-color: none;
    width: auto;
    height: auto;
    padding: 4px;
    display: grid;
    grid-template-rows: 20px 50px;
    overflow: hodden;
    position: relative;
  }
  .Container_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_2 {
    background-color: #3f51b5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px grey;
  }
  .Container_1_3 {
    width: auto;
    height: auto;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: none;
    position: absolute;
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 20px auto;
    padding: 4px;
    overflow: hidden;
  }
  .Container_1_3_1 {
    width: auto;
    height: auto;
    background-color: none;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 10px 60px;
    grid-template-rows: 60px 10px;
  }
  .Container_1_3_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_1_2 {
    background-color: #3f51b5;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
    border: 2px solid white;
    padding-top: 2px;
  }
  .icon_size_1 {
    width: 100%;
    height: 100%;
  }
  .Container_1_3_1_3 {
    background-color: none;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .Container_1_3_2 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3 {
    background-color: none;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px auto auto;
  }
  .Container_1_3_3_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3_2 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3_2_1 {
    background-color: none;
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    color: white;
    overflow: hidden;
  }
  .Container_1_3_3_2_1 > a {
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .Container_1_3_3_2_2 {
    background-color: none;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
    color: white;
    overflow: hidden;
  }
  .Container_1_3_3_3 {
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: auto 30px auto;
  }
  .Container_1_3_3_3_1 {
    background-color: none;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
  }
  .Container_1_3_3_3_2 {
    background-color: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
  }
  .Container_1_3_3_3_3 {
    background-color: none;
    overflow: hidden;
    position: relative;
    display: none;
  }
  .Container_1_3_3_3_3_1 {
    background-color: #3f51b5;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: auto;
    right: 0px;
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-rows: 100%;
    border-radius: 25px;
    overflow: hidden;
    padding: 4px;
    cursor: pointer;
  }
  .Container_1_3_3_3_3_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .icon_size_2 {
    width: 100%;
    height: 100%;
  }
  .Container_1_3_3_3_3_1_2 {
    background-color: none;
    overflow: hidden;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    color: white;
    padding: 1px 10px 4px 4px;
  }
  .Container_1_3_3_3_4 {
    background-color: none;
    overflow: hidden;
  }

  .Container_2 {
    width: auto;
    background-color: none;
    overflow: hidden;
  }
  .Container_2_1 {
    background-color: none;
    width: auto;
    height: auto;
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  }
  .Container_2_1_1 {
    background-color: NONE;
    overflow: hidden;
    padding: 4px;
    display: grid;
    grid-template-rows: auto;
    position: relative;
  }
  .Container_2_1_1_1 {
    width: auto;
    height: 29px;
    overflow: hidden;
    background-color: NONE;
    position: absolute;
    margin: auto;
    top: 4px;
    right: 4px;
    left: 4px;
    bottom: auto;
  }
  .Container_2_1_1_2 {
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
    position: absolute;
    margin: auto;
    top: 33px;
    right: 4px;
    left: 4px;
    bottom: 4px;
  }
  .Container_2_1_1_3 {
    background-color: none;
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 20px auto auto;
    grid-template-columns: auto 105px;
    padding: 4px;
    grid-gap: 5px;
  }
  .Container_2_1_1_3_1 {
    background-color: none;
    overflow: hidden;
    position: relative;
  }
  .Container_2_1_1_3_1_1 {
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    padding-left: 4px;
    color: #3f51b5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  .Container_2_1_1_3_2 {
    background-color: none;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px auto;
  }
  .Container_2_1_1_3_2_1 {
    overflow: hidden;
    /* background-color: white; */
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
  }
  .Container_2_1_1_3_2_2 {
    overflow: hidden;
    background-color: none;
  }
  .Container_2_1_1_3_2_1 {
    overflow: hidden;
    background-color: none;
    padding: 2px;
  }
  .image_size_1 {
    width: 100%;
    height: 100%;
  }
  .Container_2_1_1_3_3 {
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 4px;
  }
  .Container_2_1_1_3_3_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_2_1_1_3_3_1_1 {
    background-color: none;
    padding-top: 4px;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-left: 4px;
    color: #3f51b5;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
  }
  .Container_2_1_1_3_3_1_1 > a {
    color: #3f51b5;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_3_1_2 {
    background-color: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-right: 4px;
    padding-left: 4px;
    color: #3f51b5;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
  }
  .Container_2_1_1_3_3_1_2 > a {
    color: #3f51b5;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_3_2 {
    background-color: none;
    overflow: hidden;
    position: relative;
  }
  .Container_2_1_1_3_3_2_1 {
    background-color: none;
    width: 100%;
    height: auto;

    padding-left: 4px;
    color: #3f51b5;
    font-family: Arial;
    font-weight: normal;
    font-size: 10px;
  }
  .Container_2_1_1_3_4 {
    background-color: none;
    overflow: hidden;
    position: relative;
    display: grid;
  }

  .Container_2_1_1_3_4_1 {
    width: auto;
    background-color: #3f51b5;
    overflow: hidden;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 4px;
    border-radius: 50px;
  }
  .Container_2_1_1_3_4_1 > a {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_5 {
    background-color: none;
    overflow: hidden;
    position: relative;
    padding-right: 5px;
    display: grid;
  }
  .Container_2_1_1_3_5_1 {
    background-color: none;
    position: relative;
    width: auto;
  }
  .icon_size_2 {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 992px) {
  * {
    box-sizing: border-box;
  }
  .Container_body {
    background-color: none;
    width: auto;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-rows: 77px auto;
  }
  .Container_1 {
    background-color: none;
    width: auto;
    height: auto;
    padding: 4px;
    display: grid;
    grid-template-rows: 20px 50px;
    overflow: hodden;
    position: relative;
  }
  .Container_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_2 {
    background-color: #3f51b5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 4px grey;
  }
  .Container_1_3 {
    width: auto;
    height: auto;
    margin: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: none;
    position: absolute;
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 20px auto;
    padding: 4px;
    overflow: hidden;
  }
  .Container_1_3_1 {
    width: auto;
    height: auto;
    background-color: none;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 10px 60px;
    grid-template-rows: 60px 10px;
  }
  .Container_1_3_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_1_2 {
    background-color: #3f51b5;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
    border: 2px solid white;
    padding-top: 2px;
  }
  .icon_size_1 {
    width: 100%;
    height: 100%;
  }
  .Container_1_3_1_3 {
    background-color: none;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .Container_1_3_2 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3 {
    background-color: none;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px auto auto;
  }
  .Container_1_3_3_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3_2 {
    background-color: none;
    overflow: hidden;
  }
  .Container_1_3_3_2_1 {
    background-color: none;
    width: 100%;
    height: auto;
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    color: white;
    overflow: hidden;
  }
  .Container_1_3_3_2_1 > a {
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  .Container_1_3_3_2_2 {
    background-color: none;
    width: 100%;
    height: auto;
    font-size: 12px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
    color: white;
    overflow: hidden;
  }
  .Container_1_3_3_3 {
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: auto 30px auto;
  }
  .Container_1_3_3_3_1 {
    background-color: none;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
  }
  .Container_1_3_3_3_2 {
    background-color: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
  }
  .Container_1_3_3_3_3 {
    background-color: none;
    overflow: hidden;
    position: relative;
    display: none;
  }
  .Container_1_3_3_3_3_1 {
    background-color: #3f51b5;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: auto;
    right: 0px;
    display: grid;
    grid-template-columns: 24px auto;
    grid-template-rows: 100%;
    border-radius: 25px;
    overflow: hidden;
    padding: 4px;
    cursor: pointer;
  }
  .Container_1_3_3_3_3_1_1 {
    background-color: none;
    overflow: hidden;
  }
  .icon_size_2 {
    width: 100%;
    height: 100%;
  }
  .Container_1_3_3_3_3_1_2 {
    background-color: none;
    overflow: hidden;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    padding: 2px 0px 0px 0px;
    color: white;
    padding: 1px 10px 4px 4px;
  }
  .Container_1_3_3_3_4 {
    background-color: none;
    overflow: hidden;
  }

  .Container_2 {
    width: auto;
    background-color: none;
    overflow: hidden;
  }
  .Container_2_1 {
    background-color: none;
    width: auto;
    height: auto;
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    margin: auto;
  }
  .Container_2_1_1 {
    background-color: NONE;
    overflow: hidden;
    padding: 4px;
    display: grid;
    grid-template-rows: auto;
    position: relative;
  }
  .Container_2_1_1_1 {
    width: auto;
    height: 29px;
    overflow: hidden;
    background-color: NONE;
    position: absolute;
    margin: auto;
    top: 4px;
    right: 4px;
    left: 4px;
    bottom: auto;
  }
  .Container_2_1_1_2 {
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
    position: absolute;
    margin: auto;
    top: 33px;
    right: 4px;
    left: 4px;
    bottom: 4px;
  }
  .Container_2_1_1_3 {
    background-color: none;
    overflow: hidden;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 20px auto auto;
    grid-template-columns: auto 85px;
    padding: 4px;
    grid-gap: 5px;
  }
  .Container_2_1_1_3_1 {
    background-color: none;
    overflow: hidden;
    position: relative;
  }
  .Container_2_1_1_3_1_1 {
    overflow: hidden;
    position: absolute;
    margin: auto;
    top: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 2px;
    padding-left: 4px;
    color: #3f51b5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  .Container_2_1_1_3_2 {
    background-color: none;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 80px auto;
  }
  .Container_2_1_1_3_2_1 {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px grey;
  }
  .Container_2_1_1_3_2_2 {
    overflow: hidden;
    background-color: none;
  }
  .Container_2_1_1_3_2_1 {
    overflow: hidden;
    background-color: none;
    padding: 2px;
  }
  .image_size_1 {
    width: 100%;
    height: 100%;
  }
  .Container_2_1_1_3_3 {
    background-color: none;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    padding-right: 4px;
  }
  .Container_2_1_1_3_3_1 {
    background-color: none;
    overflow: hidden;
  }
  .Container_2_1_1_3_3_1_1 {
    background-color: none;
    padding-top: 4px;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-left: 4px;
    color: #3f51b5;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
  }
  .Container_2_1_1_3_3_1_1 > a {
    color: #3f51b5;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_3_1_2 {
    background-color: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-right: 4px;
    padding-left: 4px;
    color: #3f51b5;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
  }
  .Container_2_1_1_3_3_1_2 > a {
    color: #3f51b5;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_3_2 {
    background-color: none;
    overflow: hidden;
    position: relative;
  }
  .Container_2_1_1_3_3_2_1 {
    background-color: none;
    width: 100%;
    height: auto;

    padding-left: 4px;
    color: #3f51b5;
    font-family: Arial;
    font-weight: normal;
    font-size: 10px;
  }
  .Container_2_1_1_3_4 {
    background-color: none;
    overflow: hidden;
    position: relative;
    display: grid;
  }

  .Container_2_1_1_3_4_1 {
    width: auto;
    background-color: #3f51b5;
    overflow: hidden;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 3px;
    border-radius: 50px;
  }
  .Container_2_1_1_3_4_1 > a {
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }
  .Container_2_1_1_3_5 {
    background-color: none;
    overflow: hidden;
    position: relative;
    padding-right: 4px;
    display: grid;
  }
  .Container_2_1_1_3_5_1 {
    background-color: none;
    position: relative;
    width: auto;
  }
  .icon_size_2 {
    width: 100%;
    height: 100%;
  }
}
